{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cosmic web workshop</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'stars/styles.css' %}">
    </head>
    <body>
        <h1>List of Stars</h1>
        <a href="{% url 'add_star' %}">Add a New Star</a>
        <div class="list-view">
            {% for star in stars %}
            <div class="list-item">
                <h2>{{ star.name }}</h2>
                <p><em>Constellation: </em> {{ star.constellation }}</p>
                <p><em>Magnitude: </em> {{ star.magnitude }}</p>
                <p><em>Description: </em> {{ star.description }}</p>
            </div>
            {% endfor %}
        </div> 
    </body>
</html>