{% load static %}

<!DOCTYPE html>
<div class="background">

    <html lang="en">

        <head>
            <link rel="stylesheet" href="{% static 'stars/styles.css' %}">
            <title>Cosmic web workshop</title>
            <meta charset="UTF-8" />
        </head>
        <div class="paragraphs">
            <body>
                <div class="header">
                    <h1>List of Stars</h1>
                </div>
                <ul>
                    {% for star in stars %}
                    <li>
                        <strong>{{ star.name }}</strong> ({{ star.constellation}}): Magnitude {{ star.magnitude }} is a bueatiful star <a href="{% url 'update_star' star.id %}">Edit</a>
                    </li>
                    {% endfor %}
                </ul>
            </body>
        </div>

        <a href="{% url 'add_star' %}">Add a New Star</a>

        <footer>
            The end	
        </footer>
    </html>
</div>